.character-detail {
  padding: 15px;
  margin: 40px;
}
.character-detail img {
  border-radius: 50%;
}

.search input {
  margin: 20px;
  border-radius: 12px;
  padding: 20px;
  width: 50%;
  font-size: 24px;
  border: none;
}
.search input:hover {
  border: 1px solid lightgrey;
}
.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #45a049;
}

.character-card {
  width: 300px;
  margin: 16px;
  border: 1px solid #ddd;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.character-card img {
  width: 100%;
  border-radius: 8px;
}

.character-info {
  margin-top: 12px;
}
